body {
	font-family: 'Open Sans Condensed', 'sans-serif';
	line-height: 1.7em;
	font-size: 1.2em;
	background-image: url('images/extra_clean_paper.png');
}

.title {
	text-align: center;
	font-family: 'Kaushan Script', 'cursive';
	font-size: 45px;
	font-style: italic;
	text-shadow: 2px 2px 2px #aaa;
}

.tweet {
	display: none;
}

.displayTweets {
	border: 2px solid red;
	background: white;
	padding: 10px;
	border-radius: 5px;
	height: 420px;
	overflow: scroll;
}

.bold {
	font-weight: bold;
}

.created {
	color: gray;
}