body {
	font-family: 'Open Sans Condensed', 'sans-serif';
	line-height: 1.3em;
	background-image: url('images/extra_clean_paper.png');
}

.title {
	font-family: 'Kaushan Script', 'cursive';
	font-size: 35px;
	color: white;
	font-style: italic;
	text-shadow: 2px 2px 2px purple;
}

.tweet {
	display: none;
}

.displayTweets {
	border: 2px solid purple;
	background: white;
	padding: 10px;
	border-radius: 5px;
	height: 420px;
	overflow: scroll;
	box-shadow: 0px 0px 20px 1px black;
}
.console {
	margin: 10px;
}

.bold {
	font-weight: bold;
	color: purple;
}

.created {
	color: gray;
}